`Cmd/Ctrl+Enter` ----> `Todo: Toggle Box`
`Alt+Enter` ----> `Todo: Toggle Box`
`Alt+D` ----> `Todo: Toggle Done`
`Alt+C` ----> `Todo: Toggle Cancelled`
`Alt+S` ----> `Todo: Toggle Start`
`Cmd/Ctrl+Shift+A` ---->  `Todo: Archive`
